.app {
    margin-top: 48px;
}

.tag {
    margin-left: 3px;
}

.navbar .brand:hover {
    color: #600;
}

.uimg {
    margin-top: 4px;
}

/*Codemirror won't update if hidden by display: none. */
.edithide {
    position: absolute;
    top: -9999px;
}

.titlearea {
    font-size: 31.5px;
    font-weight: bold;
    line-height: 40px;
}

.title-input {
    width: 600px;
    height: 26px;
    font-weight: bold;
}

input[name="title"] {
    min-width: 30em;
}
