<div ng-show="me.admin">
  <h2>Admin</h2>

  <h3>Administrators</h3>

  <ul class="unstyled">
    <li ng-repeat="(e, u) in special['admin']">
      <img ng-src="http://www.gravatar.com/avatar/{{u.md5}}?s=24">
      {{e}}
      <a class="killuser" ng-click="rmAdmin(e)">
        <i class="icon-remove"></i>
      </a>
    </li>
  </ul>

  <form ng-submit="addAdmin()">
    <label>Add
      <input type="text" class="adminbox userbox input-medium">
      <button type="submit" class="btn">Add</button>
    </label>
  </form>

  <h3>Internal Users</h3>

  <ul class="unstyled">
    <li ng-repeat="(e, u) in special['internal']">
      <img ng-src="http://www.gravatar.com/avatar/{{u.md5}}?s=24">
      {{e}}
      <a class="killuser" ng-click="rmInternal(e)">
        <i class="icon-remove"></i>
      </a>
    </li>
  </ul>

  <form ng-submit="addInternal()">
    <label>Add
      <input type="text" class="internalbox userbox input-medium">
      <button type="submit" class="btn">Add</button>
    </label>
  </form>

</div>
<div ng-hide="me.admin">
  You are not an administrator.
</div>
