<h2>{{bug.id}} -
    <span class="title">
        <span ng-hide="editingTitle" ng-click="editTitle()">{{bug.title}}</span>
        <form ng-submit="submitTitle()" ng-show="editingTitle" class="form-inline">
            <input name="titleInput" ng-model="bug.title">
            <input type="submit" value="OK">
        </form>
</span></h2>

<cb-markdown ng-model="$parent.bug.description"></cb-markdown>

<p>
Status:
<select class="status" ng-model="bug.status" ng-options="state for state in allStates">
</select>
<div class="tags">
    <form class="form-inline">
        Tags:
        <button ng-click="killTag(tag)"
            ng-repeat="tag in bug.tags" class="tag btn btn-mini btn-success">{{tag}} <i class="icon-white icon-remove"></i>
        </button>
        <input type="text" ui-keypress="{'enter space':'addTags($event)'}" ng-model="newtag" class="input-small"/>
    </form>
</div>
</p>

<p>
Filed {{bug.created_at | relDate}} by {{bug.creator}}.
</p>

<h3>History</h3>
<ul class="unstyled">
    <li ng-repeat="hi in history">
    Changed
    <span ng-show="hi.ModType">{{hi.ModType}}</span>
    <span ng-hide="hi.ModType">(unknown)</span>
    {{hi.Timestamp | relDate}}
    </li>
</ul>

