<h2>
    <span ng-show="listuser">{{listuser}}'s</span>
    <span ng-hide="listuser">all</span>
    {{liststate}} bugs</h2>
<div ng-repeat="ob in grouped_bugs">
  <h3 ng-show="ob[1][0].Value.Owner.email">
    <img ng-src="http://www.gravatar.com/avatar/{{ob[0]}}?s=24">
    {{ob[1][0].Value.Owner.email}}
  </h3>
  <h3 ng-hide="ob[1][0].Value.Owner.email">
    <i class="icon-user"></i> Unassigned Bugs
  </h3>
  <ul class="unstyled">
    <li class="status-{{bug.Value.Status}}" ng-repeat="bug in ob[1]">
      <a href="/bug/{{bug.ID}}">{{bug.ID}} - {{bug.Value.Title}}</a>
      <a class="buglist-tag tag-{{t}}" ng-repeat="t in bug.Value.Tags"
         href="/tag/{{t}}">{{t}}</a>
    </li>
  </ul>
</div>
<hr/>

<div ng-include src="'/static/partials/newbug.html'"></div>
