<h2>
    <span ng-show="listuser">{{listuser}}'s</span>
    <span ng-hide="listuser">all</span>
    {{liststate}} bugs</h2>
<div ng-repeat="ob in grouped_bugs">
  <h3 ng-show="ob[1][0].Value.Owner.email">
    <img ng-src="http://www.gravatar.com/avatar/{{ob[0]}}?s=24">
    {{ob[1][0].Value.Owner.email}}
  </h3>
  <h3 ng-hide="ob[1][0].Value.Owner.email">
    <i class="icon-user"></i> Unassigned Bugs
  </h3>
  <ul class="unstyled">
    <li class="status-{{bug.Value.Status}}" ng-repeat="bug in ob[1]">
      <a href="/bug/{{bug.ID}}">{{bug.ID}} - {{bug.Value.Title}}</a>
    </li>
  </ul>
</div>
<hr/>
<div ng-controller="SimilarBugCtrl">
<form action="/api/bug/" id="newbug" method="POST">
    Briefly describe your new problem: <input type="text" ng-model="bugTitle" ng-change="debouncedLookupSimilar()" ng-required="true" pattern="(.){4,}" title="Bug descriptions must have at least 4 characters" name="title" autocomplete="off"/>
</form>
<div ng-show="similarBugs.length > 0">
<h5>Existing bugs that appear similar to your problem</h5>
  <ul>
    <li class="status-{{bug.source.doc.status}}" ng-repeat="bug in similarBugs">
      <a target="_blank" href="/bug/{{bug._id}}">{{bug._id}} -
        {{bug.source.doc.title}}</a>
    </li>
  </ul>
</div>
