<h2>
    <span ng-show="listuser">{{listuser}}'s</span>
    <span ng-hide="listuser">all</span>
    {{liststate}} bugs</h2>
<ul class="unstyled">
    <li ng-repeat="bug in bugs">
      <img title="{{bug.Value.Owner.email}}"
           ng-src="http://www.gravatar.com/avatar/{{bug.Value.Owner.md5}}?s=16">
      <a href="#/bug/{{bug.ID}}">{{bug.ID}} - {{bug.Value.Title}}</a>
    </li>
</ul>
<hr/>
<div ng-controller="SimilarBugCtrl">
<form action="/api/bug/" id="newbug" method="POST">
    Briefly describe your new problem: <input ng-model="bugTitle" ng-change="debouncedLookupSimilar()" name="title" autocomplete="off"/>
</form>
<div ng-show="similarBugs.length > 0">
<h5>Existing bugs that appear similar to your problem</h5>
  <ul>
    <li ng-repeat="bug in similarBugs"><a target="_blank" href="#/bug/{{bug._id}}">{{bug._id}} - {{bug.source.doc.title}}</a></li>
  </ul>
</div>