<h3>Navigator</h3>

<div class="tabbable">
	<!-- Only required for left/right tabs -->
	<ul class="nav nav-tabs">
		<li ng-repeat="(id, tab) in defaultTabs"
			ng-class="{active : id == selectedTab, inactive : id != selectedTab}"
			ng-show="$eval(tab.show)" data-toggle="tab"><a
			href="/navigator/{{id}}">{{tab.name}}</a></li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active">

			<div ng-show="result.inProgress">

				<h3>Search for "{{query}}" in progress...</h3>
				<div class="progress progress-striped active">

					<div class="bar" style="width: 100%;"></div>
				</div>

			</div>

			<div ng-show="result.errorMessage"
				class="alert alert-error">
				<span class="label label-important">Error</span> {{result.errorMessage}}
			</div>

			<div ng-hide="result.errorMessage || result.inProgress">
				<div ng-show="result.warningMessage" class="alert alert-error">
					<span class="label label-important">Warning</span>
					{{result.warningMessage}}
				</div>

				<!-- no results -->
				<div ng-hide="result.pager.totalResults > 0" id="searchResultContainer" class="clearfix">
					<h5>No bugs match this query</h5>
				</div>

				<!-- some results -->
				<div ng-show="result.pager.totalResults > 0" id="searchResultContainer" class="clearfix">
					<div class="container-fluid">
						<div class="row-fluid">

							<!-- facet information -->
							<div class="span3" ng-include src="'/static/partials/search-facets.html'">
							</div>

							<!-- search results table -->
							<div class="span9">
								<div class="btn-toolbar search-toolbar">
									<div class="btn-group">
										<button class="btn disabled">Assign</button>
										<button class="btn dropdown-toggle disabled"
											data-toggle="dropdown">
											<span class="caret"></span>
										</button>
									</div>
									<div class="btn-group">
										<button class="btn disabled">Tag</button>
										<button class="btn dropdown-toggle disabled"
											data-toggle="dropdown">
											<span class="caret"></span>
										</button>
									</div>
									<div class="btn-group pull-right">
										<button class="btn" ng-click="sortyBy('_score')">Score <i ng-show="result.options.sort == '_score'" class="icon-caret-up"></i><i ng-show="result.options.sort == '-_score'" class="icon-caret-down"></i></button>
										<button class="btn" ng-click="sortyBy('doc.created_at')">Created <i ng-show="result.options.sort == 'doc.created_at'" class="icon-caret-up"></i><i ng-show="result.options.sort == '-doc.created_at'" class="icon-caret-down"></i></button>
										<button class="btn" ng-click="sortyBy('doc.modified_at')">Modified <i ng-show="result.options.sort == 'doc.modified_at'" class="icon-caret-up"></i><i ng-show="result.options.sort == '-doc.modified_at'" class="icon-caret-down"></i></button>
									</div>
								</div>

                                <div ng-include src="'/static/partials/search-results-table.html'"></div>

								<h5 class="pull-left">Displaying {{result.pager.firstResult}} -
									{{result.pager.lastResult}} of {{result.pager.totalResults}} matching bugs</h5>
								<div class="pagination pull-right" ng-include src="'/static/partials/search-results-pager.html'">
								</div>
							</div>
						</div>
					</div>
				</div>



				<!-- file new bug -->
				<hr />
        <div ng-include src="'/static/partials/newbug.html'"></div>
			</div>
		</div>
	</div>
