<div ng-controller="SimilarBugCtrl">
  <form action="/api/bug/" id="newbug" method="POST">
    Briefly describe your new problem: <input type="text" ng-model="bugTitle" ng-change="debouncedLookupSimilar()" ng-required="true" pattern="(.){4,}" title="Bug descriptions must have at least 4 characters" name="title" autocomplete="off"/>
  </form>
  <div ng-show="similarBugs.length > 0">
    <h5>Existing bugs that appear similar to your problem</h5>
    <ul>
      <li class="status-{{bug.source.doc.status}}" ng-repeat="bug in similarBugs">
        <a target="_blank" href="/bug/{{bug._id}}">{{bug._id}} -
          {{bug.source.doc.title}}</a>
      </li>
    </ul>
  </div>
</div>
