<h3>Query: {{query}}</h3>
<div ng-hide="total > 0" id="searchResultContainer" class="clearfix">
<h5>No bugs match this query</h5>
</div>
<div ng-show="total > 0" id="searchResultContainer" class="clearfix">
<table class="table-bordered table-striped" width="100%">
<thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Score</th>
    </tr>
</thead>
<tbody>
    <tr ng-repeat="result in results">
        <td><a href="#/bug/{{result._id}}">{{result._id}}</a></td>
        <td>{{result.source.doc.title}}</td>
        <td>{{result._score}}</td>
    </tr>
</tbody>
</table>
<h5 class="pull-left">Displaying {{firstResult}} - {{lastResult}} of {{total}} matching bugs</h5>
<div class="pagination pull-right">
  <ul>
    <li><a ng-show="page > 1" ng-click="jumpToPage(page-1, $event)" href="#">Prev</a><span ng-hide="page > 1">Prev</span></li>
    <li ng-repeat="i in validPages"><a ng-show="i != page" href="#" ng-click="jumpToPage(i, $event)">{{i}}</a><span ng-hide="i != page">{{i}}</span></li>
    <li><a ng-show="page < validPages.length" ng-click="jumpToPage(page+1, $event)" href="#">Next</a><span ng-hide="page < validPages.length">Next</span></li>
  </ul>
</div>
</div>
<hr/>
<form action="/api/bug/" id="newbug" method="POST">
    Briefly describe your new problem: <input name="title"/>
</form>