<form>
	<div class="well sidebar-nav filter">
		<ul class="nav nav-list">
			<li ng-hide="result.facets.statuses.terms == null" class="nav-header">Status</li>
			<li ng-repeat="status in result.facets.statuses.terms"><input
				ng-show="result.options.status.indexOf(status.term) === -1" type="checkbox"
				value="{{status.term}}" ng-click="updateStatusFilter(status.term)" />
				<input ng-hide="result.options.status.indexOf(status.term) === -1"
				type="checkbox" value="{{status.term}}"
				ng-click="updateStatusFilter(status.term)" checked />
				{{status.term}} ({{status.count}})</li>
			<li ng-hide="result.facets.tags.terms == null" class="nav-header">Tags</li>
			<li ng-repeat="tag in result.facets.tags.terms"><input
				ng-show="result.options.tags.indexOf(tag.term) === -1" type="checkbox"
				value="{{tag.term}}" ng-click="updateTagFilter(tag.term)" /><input
				ng-hide="result.options.tags.indexOf(tag.term) === -1" type="checkbox"
				value="{{tag.term}}" ng-click="updateTagFilter(tag.term)" checked />
				{{tag.term}} ({{tag.count}})</li>
		</ul>
	</div>
</form>