<div ng-show="searchInProgress">

	<h3>Search for "{{query}}" in progress...</h3>
	<div class="progress progress-striped active">

		<div class="bar" style="width: 100%;"></div>
	</div>

</div>

<div ng-show="searchError && searchWarning != null"
	class="alert alert-error">
	<span class="label label-important">Error</span> {{searchWarning}}
</div>

<div ng-hide="searchError || searchInProgress">

    <div ng-controller="SearchCtrl">
        <form ng-submit="search()" method="GET">
	       <h3>Search
	           <input ng-model="query" ng-required="true" type="text" class="search-query search-results-form" placeholder="Search">
           </h3>
        </form>
    </div>

	<div ng-show="searchWarning != null" class="alert alert-error">
		<span class="label label-important">Warning</span> {{searchWarning}}
	</div>

	<!-- no results -->
	<div ng-hide="total > 0" id="searchResultContainer" class="clearfix">
		<h5>No bugs match this query</h5>
	</div>

	<!-- some results -->
	<div ng-show="total > 0" id="searchResultContainer" class="clearfix">
		<div class="container-fluid">
			<div class="row-fluid">

				<!-- facet information -->
					<div class="span3"  ng-include src="'/static/partials/search-facets.html'">
					</div>

				<!-- search results table -->
				<div class="span9">
					<div ng-include src="'/static/partials/search-results-table.html'"></div>
					<h5 class="pull-left">Displaying {{firstResult}} -
						{{lastResult}} of {{total}} matching bugs</h5>
					<div class="pagination pull-right" ng-include
						src="'/static/partials/search-results-pager.html'"></div>
				</div>
			</div>
		</div>
	</div>



	<!-- file new bug -->
	<hr />
  <div ng-include src="'/static/partials/newbug.html'"></div>
