<h2>By state:</h2>
<ul id="history" class="unstyled">
    <li ng-repeat="ob in recent">
      <img ng-src="http://www.gravatar.com/avatar/{{ob.user.md5}}?s=16">
      {{ob.user.email}} {{ob.action}}
      <a href="/bug/{{ob.bugid}}">{{ob.bugid}} {{ob.time | relDate}}</a>
    </li>
</ul>
<ul class="unstyled"> 
    <li ng-repeat="(state, count) in states">
    <a href="#/state/{{state}}">{{state}} ({{count}})</a>
    </li>
</ul>
<hr/>
<form action="/api/bug/" id="newbug" method="POST">
    Briefly describe your new problem: <input name="title"/>
</form>
