<h2>By State</h2>
<ul id="history" class="unstyled">
    <li ng-repeat="ob in recent">
      <img ng-src="http://www.gravatar.com/avatar/{{ob.user.md5}}?s=16">
      {{ob.user.email}} {{ob.action}}
      <a href="/bug/{{ob.bugid}}">{{ob.bugid}}</a> {{ob.time | relDate}}
    </li>
</ul>
<ul class="unstyled"> 
    <li ng-repeat="ob in states">
    <a href="#/state/{{ob[0]}}">{{ob[0]}} ({{ob[1]}})</a>
    </li>
</ul>
<hr/>
<div ng-controller="SimilarBugCtrl">
<form action="/api/bug/" id="newbug" method="POST">
    Briefly describe your new problem: <input ng-model="bugTitle" ng-change="debouncedLookupSimilar()" name="title" autocomplete="off"/>
</form>
<div ng-show="similarBugs.length > 0">
<h5>Existing bugs that appear similar to your problem</h5>
  <ul>
    <li ng-repeat="bug in similarBugs"><a target="_blank" href="#/bug/{{bug._id}}">{{bug._id}} - {{bug.source.doc.title}}</a></li>
  </ul>
</div>
