<html>
<head>
  <title>cbugg - Bug {{.bug.Id}}</title>
  <link rel="stylesheet" href="/static/css/screen.css" type="text/css">
</head>

<body>
  <h1>{{.bug.Id}} - <span id="title" style="display: inline" class="edit">{{.bug.Title}}</span></h1>

  <p id="description" class="edit_area">
    {{.Description}}
  </p>
  
  <p>
    Status: <span id="status">{{.bug.Status}}</span>.

    Tags:
    <span id="tags">
    {{ if .bug.Tags }}
      {{ range .bug.Tags }}
        {{.}}
      {{ end }}
    {{ else }}
    <em>Untagged</em>
    {{ end }}
    </span>
  </p>

  <p>
    Filed on {{.bug.CreatedAt}} by {{.bug.Creator}}.
  </p>

  <h2>History</h2>

  <ul>
    {{ range .history }}
    <li title="{{.Key}}">Changed
      {{ if .ModType }}
      {{.ModType}}
      {{ else }}
      (unknown)
      {{ end }}
      at {{.Timestamp}}</li>
    {{ end }}
  </ul>

  <script type="text/javascript" src="/static/jquery.min.js"></script>
  <script type="text/javascript"
          src="/static/jquery.jeditable.mini.js"></script>
  <script type="text/javascript" src="/static/cbugg.js"></script>

  <script type="text/javascript">
    $(document).ready(function() {
      cbuggMakePageEditable({bugid: {{.bug.Id}}, status: {{.bug.Status}} });
    });

  </script>
</body>

</html>
