<html>
<head>
  <title>cbugg - Bug {{.Id}}</title>
  <link rel="stylesheet" href="/static/css/screen.css" type="text/css">
</head>

<body>
  <h1>{{.Id}} - <span id="title" style="display: inline" class="edit">{{.Title | html}}</span></h1>

  <p id="description" class="edit_area">
    {{.Description | html}}
  </p>
  
  <p>
    Status: <span id="status">{{.Status}}</span>.

    {{ if .Tags }}
      Tags:
      {{ range .Tags }}
        {{.}}
      {{ end }}
    {{ end }}
  </p>

  <p>
    Filed on {{.CreatedAt}} by {{.Creator}}.
  </p>

  <script type="text/javascript" src="/static/jquery.min.js"></script>
  <script type="text/javascript"
          src="/static/jquery.jeditable.mini.js"></script>
  <script type="text/javascript" src="/static/cbugg.js"></script>

  <script type="text/javascript">
    $(document).ready(function() {
      cbuggMakePageEditable({bugid: {{.Id}}, status: {{.Status}} });
    });

  </script>
</body>

</html>
