<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="/static/fontawesome/css/font-awesome.min.css"/>
        <link rel="stylesheet" type="text/css" href="/static/lib/codemirror.css"/>
        <link rel="stylesheet" type="text/css" href="/static/lib/codemirror/theme/cb.css"/>
        <link rel="stylesheet/less" type="text/css" href="/static/less/screen.less"/>
        <link rel="shortcut icon" href="/static/cbugg.ico" />
        <title ng-bind="title + '&mdash; cbugg'">cbugg</title>
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container" ng-controller="LoginCtrl">
                    <form class="navbar-form pull-right" ng-show="loggedin">
                        <a href="/user/{{auth.username}}/new,open">
                          <img ng-src="http://www.gravatar.com/avatar/{{auth.gravatar}}?s=28" class="uimg">
                        </a>
                        <div class="btn-group">
                            <button class="btn dropdown-toggle" data-toggle="dropdown">
                                {{auth.username}}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li> <a href="/user/{{auth.username}}/new,open">My Open Bugs</a> </li>
                                <li>
                                  <a href="/search/subscribers:{{auth.username}}%20AND%20(status:open%20OR%20status:new)">Open
                                    Starred Bugs</a>
                                </li>
                                <li class="divider"></li>
                                <li ng-show="authtoken">{{authtoken}}</li>
                                <li ng-hide="authtoken">
                                  <a ng-click="getAuthToken()">API Auth Token</a>
                                </li>
                                <li> <a ng-click="logout()">Log Out</a> </li>
                            </ul>
                        </div>
                    </form>
                    <p class="navbar-text pull-right">
                    <a ng-hide="loggedin" ng-click="login()">Log In</a>
                    </p>
                    <a href="/" class="brand gohome"><img id="logo" src="/static/cbugg.png"/> cbugg</a>
                    <div ng-controller="SearchCtrl">
                        <form ng-submit="search()" class="navbar-search" method="GET">
                            <input ng-model="query" ng-required="true" type="text" class="search-query" placeholder="Search">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="container app">
            <div ng-view></div>
        </div>
        <script src="/static/lib/script.min.js"></script>
        <script>
        $script.path('/static/lib/');
        $script('jquery.min', 'jquery');
        $script.ready('jquery', function() {
            $script(['http://login.persona.org/include.js',
                     'angular.min',
                     'lodash.min',
                     'less',
                     'moment.min',
                     'marked',
                     'codemirror'], 'libs');
        })
        $script.ready('libs', function() {
            $script('codemirror/overlay', 'cm-overlay');
            $script(['angular-ui.min', 'angular-strap'], 'angular-extras');
            $script(['../cbugg',
                     '../js/editor',
                     '../js/bug-page',
                     '../js/alert',
                     '../js/auth',
                     '../bootstrap/js/bootstrap.min'], 'app');
        });
        $script.ready('cm-overlay', function() {
            $script(['codemirror/mode/markdown/markdown',
                     'codemirror/mode/gfm/gfm'], 'cm-modes');
        });
        $script.ready(['libs', 'cm-overlay', 'cm-modes', 'app', 'angular-extras'], function() {
            if(console) { console.log('All loaded!'); }
            angular.bootstrap(document, ['cbugg']);
        });
        </script>
    </body>
</html>
