<!DOCTYPE html>
<html ng-app="cbugg">
    <head>
        <script src="/static/lib/angular.min.js"></script>
        <script src="/static/lib/jquery.min.js"></script>
        <script src="/static/lib/angular-ui.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="/static/fontawesome/css/font-awesome.min.css"/>
        <link rel="stylesheet" type="text/css" href="/static/lib/codemirror.css"/>
        <link rel="stylesheet" type="text/css" href="/static/lib/codemirror/theme/cb.css"/>
        <link rel="stylesheet/less" type="text/css" href="/static/less/screen.less"/>
        <link rel="shortcut icon" href="/static/cbugg.ico" />
        <title ng-bind="'cbugg &mdash; ' + title">cbugg</title>
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container" ng-controller="LoginCtrl">
                    <form class="navbar-form pull-right" ng-show="loggedin">
                        <a href="#/user/{{username}}/open">
                          <img ng-src="http://www.gravatar.com/avatar/{{gravatar}}?s=28" class="uimg">
                        </a>
                        <div class="btn-group">
                            <button class="btn dropdown-toggle" data-toggle="dropdown">
                                {{username}}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li> <a href="#/user/{{username}}/open">My Open Bugs</a> </li>
                                <li>
                                  <a href="#/search/subscribers:{{username}}%20AND%20(status:open%20OR%20status:new)">Open
                                    Starred Bugs</a>
                                </li>
                                <li class="divider"></li>
                                <li> <a ng-click="logout()">Log Out</a> </li>
                            </ul>
                        </div>
                    </form>
                    <p class="navbar-text pull-right">
                    <a ng-hide="loggedin" ng-click="login()">Log In</a>
                    </p>
                    <a href="#/" class="brand gohome"><img id="logo" src="/static/cbugg.png"/> cbugg</a>
                    <div ng-controller="SearchCtrl">
                        <form ng-submit="search()" class="navbar-search" method="GET">
                            <input ng-model="query" ng-required="true" type="text" class="search-query" placeholder="Search">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="container app">
            <div ng-view></div>
        </div>
        <script src="/static/bootstrap/js/bootstrap.min.js"></script>
        <script src="/static/lib/lodash.min.js"></script>
        <script src="/static/lib/less.js"></script>
        <script src="/static/lib/moment.min.js"></script>
        <script src="/static/lib/showdown.js"></script>
        <script src="/static/lib/codemirror.js"></script>
        <script src="/static/lib/codemirror/mode/markdown/markdown.js"></script>
        <script src="/static/cbugg.js"></script>
        <script src="https://login.persona.org/include.js"></script>
    </body>
</html>
